
$primary-color: #2b2b29;
$secondary-color: #5f6061;
$font-stack: 'Barlow Condensed', sans-serif;
$font-tittle: 'DM Serif Display', serif;
$sm: 1.2rem; 
$md:1.4rem;
$xl:1.9rem;



@mixin flexCenter($direction,$content,$alignItems){
    display: flex;
    flex-direction: $direction;
    justify-content: $content;
    align-items: $alignItems;
}

@mixin scrollBar($overflowX, $overflowY, $overScroll, $scrollType){
    overflow-x: $overflowX;
    overflow-y: $overflowY;
    overscroll-behavior-x: $overScroll;
    scroll-snap-type: $scrollType;
}

@mixin xWhidth ($min-width, $max-width){
    min-width: $min-width;
    max-width: $max-width;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
  
html {
        font-size: 62.5%;
}

body{
        font-family: $font-stack; 
        @include xWhidth(320px, 700px);
}


hr{
    border: none;
    border-top:0.5px solid #d1d1d1;
}

h1{
    font-family: $font-tittle;
    font-size: $xl;
    color: $primary-color;
    margin: 1rem 0 0.5rem;
}

button{
        background: none;
        border-style: none;
        font-family: $font-stack;
        letter-spacing: 1.5px;
        font-size: $sm;
        padding: 0.5rem 1rem;
        border-radius: 6px;
        display: inline;
}
li{
    list-style: none;
}

a{
    text-decoration: none;
    font-size: $md;
    letter-spacing: 1.5px;
    color: black;
}

p{
    font-size: $sm;
    color: $primary-color;
}

header{
    max-width: 90vw;
    margin: auto;
    
    
    .header-section{
        @include flexCenter(row,space-between,flex-start);
        padding: 1.5rem 0 0.1rem;
        .logo-desktop{
            display: none;
        }
        .logo-mobile{
            min-width: 130px;
            width: 45vw;
            max-width: 20rem;
            img{
                max-width: 100%;
                height: auto;
            }
        }
        button{
            @include flexCenter(row,space-between,center);
            width: 75px;
            margin-top: 0.5rem;
            color: white;
            background-color: $primary-color;
            svg{
                width: 8px;
                margin-top: 2px;
                color: white;
            }
        }
    }

}

main{
    .cabecera{
        width: 95vw;
        @include xWhidth(305px, 700px);
        margin-left: auto;
        margin-top: 0.5rem;
        .cabecera_photos-carrusel{
            @include flexCenter(row,space-between,flex-start);
            @include scrollBar(scroll,none ,contain ,x proximity );
            
            .photo{
                margin-right: 0.5rem;
            }
            .photo:nth-child(4){
                margin-right: 4vw;
            }
        }
        .cabecera_photos-carrusel::-webkit-scrollbar {
            display: none; /* Oculta la barra de desplazamiento en navegadores basados en WebKit */
        }
        .cabecera_mobile-buttons{
            @include flexCenter(row,space-between,center);
            @include scrollBar(scroll,none ,contain ,x proximity );
            button{
                display: flex;
                white-space: nowrap;
                align-items: center;
                border: $secondary-color solid 1px;
                height: 2.5rem;
                margin: 0.8rem 0.4rem 1.6rem 0; 
                padding: 0.8rem 20vw;
                
            }
            button:nth-child(4){
                margin-right: 4vw;
            }
            button:hover{
                background-color: $secondary-color;
                color: white;
            }
        }
        .cabecera_mobile-buttons::-webkit-scrollbar {
            display: none; /* Oculta la barra de desplazamiento en navegadores basados en WebKit */
        }
    }
    .options{
        width: 90vw;
        @include xWhidth(300px, 700px);
        margin: auto;
        ul{
            @include flexCenter(column,space-evenly,flex-start);
            height: 8vh;
            hr{
                width: 90vw;
            }
            .hover-info{
                @include flexCenter(row,space-between,center);
                width: 90vw;
                p{
                    display: none;
                }
            }
            .hover-info:hover{
                p{
                    display: flex;
                }
            }
            .mobile_hr-4{
                border:transparent;
            }
        }
    }
}
footer{
    background-color: $primary-color;
    padding-bottom:1rem ;
    
    a, p{
        color: white;
        font-size: $sm;
        letter-spacing: 1.5px;
        margin-left: 0.5rem;
    }
    .footer_content{
        @include flexCenter(row,space-between,center);
        width: 90vw;
        @include xWhidth(300px, 700px);
        margin: auto;
        
        svg{
            width: 20px;
            height: auto;
        }
        .left-info{
            width: 50vw;
            @include xWhidth(100px, 15rem);
            .logo-mobile{
                max-width: 40vw;
                img{
                    max-width: 100%;
                    height: auto;
                }
            }
            .info{
                @include flexCenter(row,flex-start,center);
                margin-top: 1rem;
                .info_logo{
                    background-color: white;
                    height: 20px;
                    width: 20px;
                    border-radius: 10px;
                }
            }
            .info_other{
                margin-top: 3rem;
                ul{
                    margin-top: 1rem;
                }
            } 
        }
        .right_social-media{
            
            li{
                @include flexCenter(column,space-around,center);
                height: 15vh;
                margin-top: 1.5rem;
            }
        }
        
    }
    .credits{
        width: 45vw;
        margin: 1rem auto 1rem;
        p,a{
            color: #5f6061;
        }
        a:hover{
            color: #d1d1d1;
        }
    }
    
}