/*==INDICE============
**** 1. general settings
**** 2. document settings
*/


/*****1. GENERARL SETTINGS *****/

:root{
    --white:#dadada;
    --black:#000000;
    --light-grey:#4b4b4a;
    --dark-grey:#303030;

    --xs: 1.2rem; /*para lineas*/
    --sm: 1.6rem; /*para textos*/
    --md: 2.1rem; /*para destacados*/
    --lg: 3rem;/*para titulos*/
	--xl: 4.8rem;
    

    --barlow-ligth: 200;
    --barlow-medium: 300;
    --barlow-black: 400;

    --letter-spacing: 0.1rem;

    --text-spacing-bg: 2rem;
    --text-spacing-lg: 0.8rem;
	--text-spacing-md:0.3rem;
    --text-spacing-sm: 0.1rem;

	--font-barlow: 'Barlow Condensed';
}

html {
	margin:  0;
	padding: 0;
	font-size: 62.5%;
}

body {
	margin: 0;
    background-color: var(--black);
    font-family: 'Barlow Condensed', sans-serif;
    color: var(--white);
}

li{
    list-style: none;
}

ul, div, hr{
	margin:  0;
	padding: 0;
}

button{
    all: unset;
}

img{
    width: 3rem;
	margin: 0;
}

a{
	text-decoration: none;
}


/***** 2. DOCUMENT SETTINGS *****/
body{
	width: 100vw;
	height: 100vh;
}

.body--icon-letter img {
	width: var(--md);
	margin-top: 2px;
}

.body--icon-letter {
	width: var(--lg);
	height: var(--lg);
	background-color: var(--light-grey);
	border-radius: 50%;
	display: flex;
	align-items: center;
	justify-content: center;

	position: fixed;
	right: 2rem; 
	bottom: 2rem; 
}

.body--icon-letter:hover{
    background-color: var(--dark-grey);
}

.body--icon-letter:focus{
	background-color: var(--dark-grey);
	height: var(--xl);
	width: var(--xl);
}

/* header */
.header-logo {
    position: absolute;
    left: 4%;
    top:  3%; 
}

.header-logo img{
    width: 4rem;
	min-width: 50px;
}

/* main */
main{
    display: flex;
    height: 85vh;
	min-height: 350px;

}

.main--desktop-column-right{
    display: none;
}

.main--column-left{
	display: inherit;
    max-height: 100%;
    width: 100vw; /*cuando haga desktop, tiene que achicarse
	background-color: blueviolet;*/
	justify-content: flex-end;
	margin-right: 5%;

}

.column-left--content-specialties{
    display: flex;
    align-items: center;
}

.main--column-left  h2{
	display: none;
}

.column-left--content-specialties .ul-specialities{
    z-index: 2;
	margin-top: 45%;
	/*background-color: red;*/
}

.column-left--content-specialties .div-line{
    display: flex;
    height: 100%;
    width: 20px;
    position: relative;
    right: 5%;
    z-index: 1;
	place-content: center;
}

.column-left--content-specialties .div-line hr{
	height: 100%;
	border: var(--dark-grey) solid 0.1px;
}

.column-left--content-specialties .ul-specialities .list-item{
	display: flex;
    align-items: center;
	margin-bottom: 1rem;
	/*border: orange solid 2px;*/
}

main .ul-specialities .list-item .list-text {
    display: flex;
    align-items: center;
    height:4rem; 
	/*border: white solid 1px;*/
	width: 320px;
    justify-content:flex-end;
    margin-right: var(--text-spacing-lg);
    
	font-family: 'Barlow Condensed';
    font-weight: 300;
	font-size: var(--md);
	font-weight: var(--barlow-black);
    letter-spacing: var(--text-spacing-md);
    color: var(--white);
	-webkit-font-smoothing:antialiased;

	/*background-color: orange;*/
}

main .ul-specialities .list-item .diamond {
    width: 12px; 
    height: 12px; 
    background-color: var(--black);
    transform: rotate(45deg); 
    border: 2px solid var(--light-grey);
	border-radius: 3%;
}

main .ul-specialities .list-item-text .text{
    display: flex;
    align-items: center;
	height:4rem; 
    width: 320px;
    justify-content:flex-end;
    font-size: var(--sm);
    font-weight: var(--barlow-medium);

    text-align: end;
    color: var(--light-grey);

    /*text-transform: uppercase;
  	background-
	color: red;*/
}


/* footer */
footer{
	height: 15vh;
	margin-top: 5%;
	align-content: center;
	height: auto;
	/*justify-content: space-around;
    flex-wrap: wrap;*/
}

footer .buttons{
	display: flex;
	justify-content: space-around;
	height: auto;
}

footer .buttons a{
	display: flex;
	font-size: var(--xs);
	color: var(--light-grey);
	height: auto;
	align-items: center;
}

footer .buttons a:focus{
	color: var(--white);
	font-size: var(--sm);
}

footer .buttons a img{
	height: 12px;
    width: 12px;
    background-color: var(--light-grey);
    padding: 3px;
    border-radius: 50%;
	margin-right: var(--text-spacing-sm);
}

footer span{
	display: flex;
	text-align: center;
	color: var(--light-grey);
	margin: 0 17%;
	font-size: var(--xs);
	justify-content: center;
	align-items: center;
}
