/*==INDICE============
**** 1. general settings
**** 2. document settings
*/


/*****1. GENERARL SETTINGS *****/

:root{
    --white:#dadada;
    --black:#000000;
    --light-grey:#4b4b4a;
    --dark-grey:#303030;

    --xs: 0.8rem; /*para lineas*/
    --sm: 1.05rem; /*para textos*/
    --md: 1.8rem; /*para destacados*/
    --lg: 3rem;/*para titulos*/
    

    --barlow-ligth: 200;
    --barlow-medium: 300;
    --barlow-black: 400;

    --letter-spacing: 0.1rem;

    --text-spacing-bg: 2rem;
    --text-spacing-md: 0.8rem;
    --text-spacing-sm: 0.2rem;

	--font-barlow: 'Barlow Condensed';
}

html {
	margin:  0;
	padding: 0;
	font-size: 16px;
}

body {
	margin: 0;
    background-color: var(--black);
    font-family: 'Barlow Condensed', sans-serif;
    color: var(--white);
}

li{
    list-style: none;
}

ul, div, hr{
	margin:  0;
	padding: 0;
}

button{
    all: unset;
}

img{
    width: 3rem;
	margin: 0;
}

a{
	text-decoration: none;
}


/***** 2. DOCUMENT SETTINGS *****/
.container{
	max-width: 100vw;
	max-height: 100vh;
}

.icon-letter img {
	width: var(--md);
	margin-top: 2px;
}

.icon-letter {
	height: var(--lg);
	width: var(--lg);
	border-radius: 50%;
	background-color: var(--light-grey);
	display: flex;
	align-items: center;
	justify-content: center;

	position: fixed;
	right: 2rem; 
	bottom: 2rem; 
}

.icon-letter:hover{
    background-color: var(--dark-grey);
}

.icon-letter:focus{
	background-color: var(--dark-grey);
}

/* header */
.header-logo {
    position: absolute;
    left: 1rem;
    top:  2rem; 
}

.header-logo img{
    width: 4rem;
}

/* main */
main{
    display: flex;
    height: 80vh;

}

main .column-right{
    display: none;
}

main .column-left{
	display: inherit;
    max-height: 100%;
    width: 100vw; /*cuando haga desktop, tiene que achicarse
	background-color: blueviolet;*/
	justify-content: flex-end;
}

main .column-left .content-specialties{
    display: flex;
    align-items: center;
}

main .column-left .content-specialties .ul-specialities{
    z-index: 2;
	margin-top: 50%;
	/*background-color: red;*/
}

main .content-specialties .div-line{
    display: flex;
    height: 100%;
    width: 20px;
    position: relative;
    right: 5%;
    z-index: 1;
	place-content: center;
}

main .content-specialties .div-line hr{
	height: 100%;
	border: var(--dark-grey) solid 0.5px;
}

main .content-specialties .ul-specialities .list-item{
	display: flex;
    align-items: center;
	/*border: orange solid 2px;*/
}

main .ul-specialities .list-item .list-text {
    display: flex;
    align-items: center;
    height:4rem; 
	/*border: white solid 1px;*/
	width: 320px;
    justify-content:flex-end;
    margin-right: var(--text-spacing-sm);
    
	font-family: 'Barlow Condensed';
    font-weight: 300;
	font-size: var(--md);
	font-weight: var(--barlow-black);
    letter-spacing: var(--text-spacing-sm);
    color: var(--white);
	-webkit-font-smoothing:antialiased;
	/*background-color: orange;*/
}

main .ul-specialities .list-item .diamond {
    width: 12px; 
    height: 12px; 
    background-color: var(--black);
    transform: rotate(45deg); 
    border: 2px solid var(--light-grey);
	border-radius: 3%;
}

main .ul-specialities .list-item-text .text{
    display: flex;
    align-items: center;
	height:4rem; 
    width: 320px;
    justify-content:flex-end;
    font-size: var(--sm);
    font-weight: var(--barlow-medium);

    text-align: end;
    color: var(--light-grey);
    /*text-transform: uppercase;
  	background-
	color: red;*/
}


/* footer */
footer{
	height: 15vh;
	margin-top: 5%;
	display: grid;
	grid-row: auto auto;
	/*justify-content: space-around;
    flex-wrap: wrap;*/
	
}

footer .buttons{
	display: flex;
	justify-content: space-around;
}

footer .buttons a{
	display: flex;
	justify-items: center;
	font-size: var(--xs);
	color: var(--light-grey);
	/*height: 2rem;*/
}

footer .buttons a img{
    width: 12px;
	height: 12px;
    background-color: var(--light-grey);
    padding: 3px;
    border-radius: 50%;
	margin-right: var(--text-spacing-sm);
}

footer p{
	display: inline-block;
	text-align: center;
	color: var(--dark-grey);
	margin: 0 2%;
	font-size: var(--xs);
}
