body{
    margin: 3% 0;

}

.main--desktop-column-right{
    display: flex;
    min-width: 500px;
    flex-direction: column;
    justify-content: center;
    margin-left: 5%;
    margin-top: 5%;
}

.main--desktop-column-right h1{
    font-family: "Lato", sans-serif;
    display: inherit;
    flex-direction: column;
    font-size: var(--xl);
    font-weight: 900;
    margin-bottom:  1rem;
}

.main--desktop-column-right h2{
    font-weight: var(--barlow-ligth);
    letter-spacing: var(--text-spacing-sm);
}

.main--desktop-column-right h1 .text-stroke-white .white-text{
    color: var(--white);
    -webkit-text-stroke: 0;
    font-weight: 700;
}

main .main--desktop-column-right h1 .text-stroke-white{
    color: transparent;
    -webkit-text-stroke: 1px;
    -webkit-text-stroke-color: #fff;
}

main .main--desktop-column-right h1 .text-stroke-white:hover{
    color: var(--white);
    -webkit-text-stroke: 0;
    font-weight: 700;
}

.main--desktop-column-right h1 .text-stroke-white .white-text:hover{
    color: transparent;
    -webkit-text-stroke: 1px;
    -webkit-text-stroke-color: #fff;
}

.column-left--content-specialties .ul-specialities{
    margin-top: 90%;

}

main .ul-specialities .list-item .list-text:hover{
    color: var(--dark-grey);
}

main .ul-specialities .list-item .list-text{
    letter-spacing: var(--text-spacing-sm);
    color: var(--light-grey);
}

main .ul-specialities .list-item-text .text{
    display: none;
}

.column-left--content-specialties .ul-specialities .list-item{
    margin-bottom: 0.1rem;
}






